.box-search input{
    position: relative;
    transition: all .3s;
    width: 100px;
    font-size: medium;
    color: #ccc;
    font-weight: 400;
}

.box-search input:focus {
    width: 200px;
    background-color: white;
    color:black;
}
.box-search:focus-within .icon-search {
    color: black;
}
.icon-search{
    transition: all .3s;
}
.box-search{
    transition: all .3s;
}

.box-search:focus-within {
    background-color: white;
  }

.box-search input:focus::placeholder{
    color: #00000059;
}

